@model LR_5.Models.ListGViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Выбрать группу</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <h1>Выбрать группу</h1>

        <form id="displayStudentsForm" asp-controller="ListG" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="SelectedGroupId">Выберите группу:</label>
                <select id="selectedGroupId" asp-for="SelectedGroupId" class="form-control">
                    <option value="" selected>Выберите значение</option>
                    @foreach (var groupId in Model.GroupOptions)
                    {
                        <option value="@groupId">@groupId</option>
                    }
                </select>
            </div>
        </form>

        <form asp-controller="ListG" asp-action="AddStudentForm" method="get">
            <button type="submit" class="btn btn-success mt-2">Добавить учащегося</button>
        </form>

        @if (Model.DisplayStudents)
        {
            <h2>Студенты группы: @Model.SelectedGroupType</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Удалить ученика из группы</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr>
                            <td>@student.StudId</td> <!-- Добавленный столбец с Id из таблицы ListG -->
                            <td>@student.Surname</td>
                            <td>@student.NameS</td>
                            <td>@student.Otchestvo</td>
                            <td>
                                <form asp-controller="ListG" asp-action="Delete" method="post" asp-route-id="@student.StudId">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Вы точно хотите удалить занятие?')">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @section scripts {
            <script>
                $(function () {
                    $('#selectedGroupId').change(function () {
                        $('#displayStudentsForm').submit();
                    });
                });
            </script>
        }
    </div>

    <!-- Bootstrap и другие скрипты, если необходимо -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>